.add-todo {
  width: 100%;
  position: relative;
  height: 80px;
  margin: 2px 0 1px;
}
.add-todo__button {
  position: absolute;
  display: block;
  width: 60px;
  height: 100%;
  background: transparent;
  color: rgba(0, 0, 0, 0);
  border: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 28px 16px;
  background-image: url("https://jsbin-user-assets.s3.amazonaws.com/GarthDB/add.svg");
}
.add-todo__input {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  text-transform: uppercase;
  padding-left: 80px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #666666;
}
.add-todo__input:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.05);
}
.add-todo__input::placeholder {
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1;
}
